# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
renv/library/
renv/local/
renv/staging/

# Python
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary render files
*_files/
